<!DOCTYPE html>

<html>
<head>
    <title>My First Django Application</title>
</head>

<body>

    <form method="post">
        {% csrf_token %}
        <span>Enter Your Name</span>
        <br />
        <input type="text" name="username" />
        <br />
        <button type="submit">Greet</button>
    </form>

<h1>
    Hello {{name}}!!!
</h1>
</body>

</html>